cycler==0.10.0
kiwisolver==1.1.0
matplotlib==3.1.2
meshio==3.2.15
meshplex==0.11.6
mpmath==1.1.0
numpy==1.17.4
optimesh==0.6.0
orthopy==0.6.2
pandas==0.25.3
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
quadpy==0.13.6
scipy==1.3.3
six==1.13.0
sympy==1.4
termplotlib==0.2.3
triangle==20190115.3
